<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>Edge Framework - {% if page.title %} {{ page.title }} {% endif %}</title>
	<link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
	<div id="main">
		<header>
			<h1>Edge - a Web Application Framework for the Vert.x Platform</h1>
		<header>
		<nav role="navigation">
			<ul>
				<li><a href="{{ site.url }}/">Home</a></li>
				<li><a href="{{ site.url }}/downloads/">Downloads</a></li>
				<li><a href="{{ site.url }}/learn/">Learn</a></li>
				<li><a href="{{ site.repository_url }}" target="_blank">GitHub</a></li>
			</ul>
		</nav>
		<article class="content">
			{{ content }}
		</article>
		<footer>
			<p>&copy; Edge Framework | Daryl Teo 2013 | All Rights Reserved.</p>
		</footer>
	</div>
</body>
</html>